{{log post}}

<div class='container'>
	<div class='card m-3'>
		<header class='card-header'>
			<p class='card-header-title'>{{post.title}}
				|
				{{post.user.username}}</p>
			<button
				class='button fa-solid fa-heart is-small'
				id='like-btn'
				data-post-id='{{post.id}}'
				data-logged-in='{{logged_in}}'
			>
				{{post.likes}}
				likes</button>
			<button class='button fa-solid fa-eye is-small'>
				{{post.views}}
				views</button>
			{{! <button class="card-header-icon" aria-label="more options">
      <span class="icon">
        <i class="fas fa-angle-down" aria-hidden="true"></i>
      </span>
    </button> }}
			<script src='/js/likeBtn.js'></script>
		</header>
		{{#if post.medium}}
			<div class='card-image'>
				<figure class='image'>
					<iframe
						src='/uploads/{{post.medium.filename}}'
						width='640'
						height='360'
						frameborder='0'
					></iframe>
				</figure>
			</div>
		{{/if}}
		<div class='card-content'>
			<div class='content'>
				{{post.content}}
				<br />
				<!--this needs a helper to display the date time correctly. -->
				<time class='content is-small is-pulled-right'>{{formatDate
						post.date_created
					}}</time>
			</div>
		</div>
	</div>
</div>

<div class='container'>
	<div class='card m-3'>
		<header class='card-header'>
			<p class='card-header-title'>
				Comments
			</p>
		</header>
	</div>

	{{#each post.comments as |comment|}}
		<div class='card m-3'>
			<div class='card-content'>
				<p>{{comment.content}}</p>
				<p>Posted by
					<strong>{{comment.user.username}}</strong>
					on
					{{formatDate comment.date_created}}</p>
			</div>
		</div>
	{{/each}}
</div>

{{#if logged_in}}
	<div class='container'>
		<div class='card m-3'>
			<header class='card-header'>
				<p class='card-header-title'>New Comment</p>
			</header>
			<div class='card-content'>
				<form>
					<div class='field'>
						<div class='control'>
							<input
								id='comment-input'
								class='input mb-2'
								type='text'
								placeholder='i think that...'
							/>
							<button
								id='comment-submit-btn'
								data-user='{{user_id}}'
								data-post={{post.id}}
								class='button'
							>Submit</button>
						</div>
					</div>
					<script src='/js/comment.js'></script>
				</form>
			</div>
		</div>
	</div>
{{/if}}